<!DOCTYPE html>
<head>
    <title>elemnt</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <site-header></site-header>
    <main>
        <site-nav></site-nav>
        <section id="content">
            <h1>Button</h1>

            <h4>Button (default)</h4>
            <elemnt-button>Default</elemnt-button>
            <elemnt-button disabled>Disabled</elemnt-button>
            <elemnt-button type="outlined">Outlined button</elemnt-button>
            <elemnt-button type="outlined" disabled>Outlined disabled</elemnt-button>

            <pre><code>
&lt;elemnt-button&gt;Click me&lt;/elemnt-button&gt;
&lt;elemnt-button disabled&gt;Disabled button&lt;/elemnt-button&gt;
&lt;elemnt-button type="outlined"&gt;Outlined button&lt;/elemnt-button&gt;
&lt;elemnt-button type="text" disabled&gt;Outlined disabled&lt;/elemnt-button&gt;
</code></pre>

            
            <h4>Text</h4>
            <elemnt-button type="text">Click me</elemnt-button>
            <elemnt-button type="text" disabled>Click me disabled</elemnt-button>
            <pre><code>&lt;elemnt-button type="text"&gt;Click me&lt;/elemnt-button&gt;
&lt;elemnt-button type="text" disabled&gt;Click me&lt;/elemnt-button&gt;
            </code></pre>


            <h4>Colors</h4>
            <elemnt-button color="primary">Primary</elemnt-button>
            <elemnt-button color="primary" type="outlined">Primary</elemnt-button>
            <elemnt-button color="primary" type="text">Primary</elemnt-button>
            <br>
            <br>
            <elemnt-button color="accent">Accent</elemnt-button>
            <elemnt-button color="accent" type="outlined">Accent</elemnt-button>
            <elemnt-button color="accent" type="text">Accent</elemnt-button>
            <br>
            <br>
            <elemnt-button color="neutral">Neutral</elemnt-button>
            <elemnt-button color="neutral" type="outlined">Neutral</elemnt-button>
            <elemnt-button color="neutral" type="text">Neutral</elemnt-button>
            <br>
            <br>
            <elemnt-button color="success">Success</elemnt-button>
            <elemnt-button color="success" type="outlined">Success</elemnt-button>
            <elemnt-button color="success" type="text">Success</elemnt-button>
            <br>
            <br>
            <elemnt-button color="error">Error</elemnt-button>
            <elemnt-button color="error" type="outlined">Error</elemnt-button>
            <elemnt-button color="error" type="text">Error</elemnt-button>

            <pre><code>
&lt;elemnt-button color="primary"&gt;Primary&lt;/elemnt-button&gt;
&lt;elemnt-button color="primary" type="outlined"&gt;Primary&lt;/elemnt-button&gt;
&lt;elemnt-button color="primary" type="text"&gt;Primary&lt;/elemnt-button&gt;

&lt;elemnt-button color="accent"&gt;Accent&lt;/elemnt-button&gt;
&lt;elemnt-button color="accent" type="outlined"&gt;Accent&lt;/elemnt-button&gt;
&lt;elemnt-button color="accent" type="text"&gt;Accent&lt;/elemnt-button&gt;

&lt;elemnt-button color="neutral"&gt;Neutral&lt;/elemnt-button&gt;
&lt;elemnt-button color="neutral" type="outlined"&gt;Neutral&lt;/elemnt-button&gt;
&lt;elemnt-button color="neutral" type="text"&gt;Neutral&lt;/elemnt-button&gt;

&lt;elemnt-button color="success"&gt;Success&lt;/elemnt-button&gt;
&lt;elemnt-button color="success" type="outlined"&gt;Success&lt;/elemnt-button&gt;
&lt;elemnt-button color="success" type="text"&gt;Success&lt;/elemnt-button&gt;

&lt;elemnt-button color="error"&gt;Error&lt;/elemnt-button&gt;
&lt;elemnt-button color="error" type="outlined"&gt;Error&lt;/elemnt-button&gt;
&lt;elemnt-button color="error" type="text"&gt;Error&lt;/elemnt-button&gt;
            </code></pre>

            <h4>With icon</h4>
            <elemnt-button>
                <span slot="start">🔥</span>
                Icon at start
            </elemnt-button>
            <elemnt-button>
                Icon at end
                <span slot="end">➡️</span>
            </elemnt-button>
            <elemnt-button type="outlined">
                <span slot="start">🔥</span>
                Outlined with icons
                <span slot="end">➡️</span>
            </elemnt-button>
            <elemnt-button type="text">
                <span slot="start">🔥</span>
                Text button with icons
                <span slot="end">➡️</span>
            </elemnt-button>
            <elemnt-button type="text">
                SVG Icon
                <span slot="end">
                    <svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5 1H4L0 5L4 9H5V6H11C12.6569 6 14 7.34315 14 9C14 10.6569 12.6569 12 11 12H4V14H11C13.7614 14 16 11.7614 16 9C16 6.23858 13.7614 4 11 4H5V1Z" fill="#000000"/>
                    </svg>
                </span>
            </elemnt-button>

            <pre><code>
&lt;elemnt-button&gt;
    &lt;span slot="start"&gt;🔥&lt;/span&gt;
    Icon at start
&lt;/elemnt-button&gt;

&lt;elemnt-button&gt;
    Icon at end
    &lt;span slot="end"&gt;➡️&lt;/span&gt;
&lt;/elemnt-button&gt;

&lt;elemnt-button type="outlined"&gt;
    &lt;span slot="start"&gt;🔥&lt;/span&gt;
    Outlined with icons
    &lt;span slot="end"&gt;➡️&lt;/span&gt;
&lt;/elemnt-button&gt;

&lt;elemnt-button type="text"&gt;
    &lt;span slot="start"&gt;🔥&lt;/span&gt;
    Text button with icons
    &lt;span slot="end"&gt;➡️&lt;/span&gt;
&lt;/elemnt-button&gt;
            </code></pre>

            <h4>Link</h4>

            <elemnt-button as="link" href="https://example.com" target="_blank">Open example</elemnt-button>

            <pre><code>&lt;elemnt-button as="link" href="https://example.com" target="_blank"&gt;Open example&lt;/elemnt-button&gt;</code></pre>

            <h4>Sizes</h4>

            <elemnt-button size="small">Small Button</elemnt-button>
            <elemnt-button size="medium">Medium Button</elemnt-button>
            <elemnt-button size="large">Large Button</elemnt-button>

            <pre><code>
&lt;elemnt-button size="small"&gt;Small Button&lt;/elemnt-button&gt;
&lt;elemnt-button size="medium"&gt;Medium Button&lt;/elemnt-button&gt;
&lt;elemnt-button size="large"&gt;Large Button&lt;/elemnt-button&gt;</code></pre>      

            <h4>Events</h4>
            <p>Pass the event name you're listening for and the button will dispatch that event when clicked.</p>

            <elemnt-button click-event="custom-event">Click me</elemnt-button>
            <pre><code>
&lt;elemnt-button click-event="custom-event"&gt;Click me&lt;/elemnt-button&gt;
            </code></pre> 
            <pre><code>
document.addEventListener('custom-event', () =&gt; {
    alert('Custom event triggered!');
});
            </code></pre>
            <script>
                document.addEventListener('custom-event', () => {
                    alert('Custom event triggered!');
                });
            </script>

            <h4>Button group</h4>

            <p>Default</p>
            <elemnt-button-group>
                <elemnt-button>Button 1</elemnt-button>
                <elemnt-button>Button 2</elemnt-button>
                <elemnt-button>Button 3</elemnt-button>
            </elemnt-button-group>

            <p>Outlined</p>
            <elemnt-button-group type="outlined">
                <elemnt-button>Button 1</elemnt-button>
                <elemnt-button>Button 2</elemnt-button>
                <elemnt-button>Button 3</elemnt-button>
            </elemnt-button-group>

            <p>Text</p>
            <elemnt-button-group type="text">
                <elemnt-button>Button 1</elemnt-button>
                <elemnt-button>Button 2</elemnt-button>
                <elemnt-button>Button 3</elemnt-button>
            </elemnt-button-group>

            <p>Change button size</p>
            <elemnt-button-group size="small">
                <elemnt-button>Button 1</elemnt-button>
                <elemnt-button>Button 2</elemnt-button>
                <elemnt-button>Button 3</elemnt-button>
            </elemnt-button-group>

            <elemnt-button-group size="medium">
                <elemnt-button>Button 1</elemnt-button>
                <elemnt-button>Button 2</elemnt-button>
                <elemnt-button>Button 3</elemnt-button>
            </elemnt-button-group>

            <elemnt-button-group size="large">
                <elemnt-button>Button 1</elemnt-button>
                <elemnt-button>Button 2</elemnt-button>
                <elemnt-button>Button 3</elemnt-button>
            </elemnt-button-group>

        </section>
    </main>

    <site-footer></site-footer>
    <script type="module" defer src="/site/site-footer.js"></script>
    <script type="module" defer src="/site/site-header.js"></script>
    <script type="module" defer src="/site/site-nav.js"></script>
    <script type="module" defer src="/js/components/elemnt-button.js"></script>
    <script type="module" defer src="/js/components/elemnt-button-group.js"></script>
</body>
</html>