<!DOCTYPE html>
<head>
    <title>elemnt</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
    <site-header></site-header>
    <main>
        <site-nav></site-nav>
        <section id="content">

            <h1>Card</h1>

            <h4>Default Card</h4>
            <elemnt-card>
                <h3 slot="title">Card Title</h3>
                <p slot="content">This is some content inside the card.</p>
            </elemnt-card>
            <pre><code>
&lt;elemnt-card&gt;
    &lt;h3 slot="title"&gt;Card Title&lt;/h3&gt;
    &lt;p slot="content"&gt;This is some content inside the card.&lt;/p&gt;
&lt;/elemnt-card&gt;
            </code></pre>

            <h4>Card without Title</h4>
            <elemnt-card>
                <p slot="content">This card has no title slot.</p>
            </elemnt-card>
            <pre><code>
&lt;elemnt-card&gt;
    &lt;p slot="content"&gt;This card has no title slot.&lt;/p&gt;
&lt;/elemnt-card&gt;
            </code></pre>

            <h4>Card with image</h4>
            <elemnt-card>
                <img slot="image" src="https://placehold.co/400x300/cccccc/969696.png?font=lato" alt="Example Image">
                <h3 slot="title">Card with Image</h3>
                <p slot="content">This card includes an image at the top.</p>
            </elemnt-card>
            <pre><code>
&lt;elemnt-card&gt;
    &lt;img slot="image" src="https://placehold.co/400x300/cccccc/969696.png?font=lato" alt="Example Image"&gt;
    &lt;h3 slot="title"&gt;Card with Image&lt;/h3&gt;
    &lt;p slot="content"&gt;This card includes an image at the top.&lt;/p&gt;
&lt;/elemnt-card&gt;
            </code></pre>

            <h4>Card with button</h4>
            <elemnt-card>
                <h3 slot="title">Card with Button</h3>
                <p slot="content">This card includes a button.</p>
                <elemnt-button slot="actions">Click Me</elemnt-button>
                <elemnt-button slot="actions" type="outlined">Click Me 2</elemnt-button>
                <elemnt-button slot="actions" type="text">Click Me 3</elemnt-button>
            </elemnt-card>
            <pre><code>
&lt;elemnt-card&gt;
    &lt;h3 slot="title"&gt;Card with Button&lt;/h3&gt;
    &lt;p slot="content"&gt;This card includes a button.&lt;/p&gt;
    &lt;elemnt-button slot="actions"&gt;Click Me&lt;/elemnt-button&gt;
&lt;/elemnt-card&gt;
            </code></pre>

        </section>
    </main>

    <site-footer></site-footer>
    <script type="module" defer src="/site/site-footer.js"></script>
    <script type="module" defer src="/site/site-header.js"></script>
    <script type="module" defer src="/site/site-nav.js"></script>
    <script type="module" defer src="/js/components/elemnt-button.js"></script>
    <script type="module" defer src="/js/components/elemnt-card.js"></script>
</body>
</html>