<!DOCTYPE html>
<head>
    <title>elemnt</title>
    <link rel="stylesheet" type="text/css" href="../css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
</head>
<body>
    <site-header></site-header>
    <main>
        <site-nav></site-nav>
        <section id="content">

            <h1>Menu</h1>

            <p>Typography styles are all set by the theme css variables.</p>

            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 5</h5>
            <h6>Heading 6</h6>

            <p>This is a paragraph demonstrating the default text style. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

            <ul>
                <li>Unordered List Item 1</li>
                <li>Unordered List Item 2</li>
                <li>Unordered List Item 3</li>
            </ul>

            <ol>
                <li>Ordered List Item 1</li>
                <li>Ordered List Item 2</li>
                <li>Ordered List Item 3</li>
            </ol>

        </section>
    </main>

    <site-footer></site-footer>
    <script type="module" defer src="../site/site-footer.js"></script>
    <script type="module" defer src="../site/site-header.js"></script>
    <script type="module" defer src="../site/site-nav.js"></script>
</body>
</html>